#!/bin/bash

# Vers le cloud
RSYNC_PASSWORD="{{ pibooth_client_passwd }}" rsync -aHs -v {{ pibooth_general_pibooth_directory }}/. rsync://{{ pibooth_client_login }}@{{ pibooth_domain }}/{{ pibooth_client_login }}

# Vers la clé USB
if [ -d /media/pi/* ] ; then rsync -aHs -v {{ pibooth_general_pibooth_directory }}/. /media/pi/*/ ; fi
